{% extends "auctions/layout.html" %}

{% block style %}
<style>
    body{
        color: white;
        background-color: #242424;
    }
    .form{
        background-color: #242424;
        margin-left: 5px;
        width: 600px;
        border: 1px solid #c0c0c0;
        border-style:inset;
        padding: 20px;
    }
    .formfield {
        color: white;
        background-color: #4a4a4a;
        display: flex; 
        margin-left: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-style: outset;
        outline: none;
    }
    .formfield:focus{
        border-style: inset;
    }
    label{
        margin-bottom: 0;
        margin-left: 10px;
    }
    #submit{
        color: white;
        margin-top:20px;
        margin-left:40px;
        margin-bottom: 40px;
        padding: 5px;
        background-color: #4d90fe;
        border:1px solid #4d90fe; 
        border-radius: 10px;
    }
    #submit:hover{
        background-color:#4787ed;
        border-style: outset;
    }
    #category{
        display: flex;
        margin-left: 10px;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block body %}
<form class='form' action="{% url 'create_listing' %}" method='post'>
    {% csrf_token %}
    {{form}}
    <div id="category">
        <p>Add Category:</p>
    <select class='formfield' name="category">
        {% for category in categories %}
            <option value="{{category.id}}">{{category}}</option>
        {% endfor %}
    </select>
    </div>
    <input id='submit' type='submit' value="Create Listing">
</form>
{% endblock %}