{% extends "auctions/layout.html" %}

{% block style %}
<style>
    .items{
        margin-right: 40px;
        color: black;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #c0c0c0;
        border-style: inset;
        font-size: 1.3em;
    }
    .items:hover{
        border-style: outset;
    }
    a:link,a:visited,a:hover,a:active {
         text-decoration: none; 
    }
    h2{
        margin-left: 40px;
    }
    img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    <ul style="list-style-type: none;">
        {% for item in Listings %}
            <li>
                <a href="listing/{{item.id}}">
                    <div class="items">
                        <h3>{{item.title}}</h3>
                        {% if item.image %}
                            <img alt="No image" src={{item.image}} width='200' height="160"><br>
                        {% endif %}
                        Description: {{item.description}}<br>
                        {% if item.starting_bid > item.current_bid %}
                        Current Price: ${{item.starting_bid}}<br>
                        {% else %}
                        Current Price: ${{item.current_bid}}<br>
                        {% endif %}
                    </div>
                </a>
            </li>
            <br>
            {% empty %}
            <li>No listings available</li>
        {% endfor %}
    </ul>
{% endblock %}