{% extends "auctions/layout.html" %}

{% block style %}
<style>
    body{
        background-color: #242424;
        color: white;
    }
    textarea{
        color: white;
        background-color: #4a4a4a;
        width: 300px;
        height: 50px;
        outline: none;
    }
    .comment{
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3em;
        padding: 20px;
        border: 1px solid black;
        width: 25%;
        list-style-type: none;
        margin-bottom: 15px;
    }
    .price{
        font-size: 1.3em;
        color: #4d90fe;
    }
    .listing{
        text-align: center;
        border: 1px solid #c0c0c0;
        border-style: inset;
        width: 99%;
        margin: 10px;
        padding: 10px;
    }
    .field{
        color: white;
        background-color: #4a4a4a;
        line-height: 24px;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        width: 25%;
    }
    .field:focus{
        outline: none;
    }
    .add{
        padding: 5px;
        line-height: 16px;
        color: white;
        background-color: #4d90fe;
        border: 1px solid #4d90fe;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .add:hover{
        background-color: #4787ed;
        border-style: outset;
    }
    .not_active{
        color:#4d90fe;
        font-size: 1.5em;
    }
    .details{
        font-size: 1.3em;
    }
    #close{
        font-size: 0.8em;
        background-color: rgb(1, 199, 1);
        border-radius: 5px;
        color:black;
    }
    .info{
        margin: 5px;
    }
</style>
{% endblock %}

{% block body %}
    <div class="listing">
        <h1>{{listing.title}}</h1>
        {% if user.is_authenticated and listing.is_active %}
            {% if listing in watchlist %}
                <form method='POST' action="{% url 'remove_watchlist' listing.id %}">
                    {% csrf_token %}
                    <input class='add' type=submit value="remove from watchlist">
                </form>
            {%else%}
                <form method='POST' action="{% url 'add_watchlist' listing.id %}">
                    {% csrf_token %}
                    <input class="add" type=submit value="add to watchlist">
                </form>
            {% endif %}
        {% endif %}
        {% if listing.image %}
            <img alt="No image available" src={{listing.image}} style="max-width: 500px; max-height: 250px;"><br>
        {% endif %}
        <div class="info">
            {{listing.description}}<br>
            {% if listing.is_active %}
                <div class="price">
                        {% if listing.starting_bid > listing.current_bid %}
                            ${{listing.starting_bid}}<br>
                        {% else %}
                            ${{listing.current_bid}}<br>
                        {% endif %}
                </div>          
                {% if bid_user == current_user %}
                Highest Bid: ${{max_bid}} | made by you<br>
                {% else %}
                Highest Bid: ${{max_bid}} | made by {{bid_user}}<br>
                {% endif %}
            {% else %}
                <span class="not_active">
                    Auction no longer active<br>
                    {% if listing.winner == current_user %}
                        And the winner was <span style="color:rgb(0, 255, 0);">YOU</span>
                    {% else %}
                        And the winner was <span style="color:rgb(0, 255, 0);">{{listing.winner}}</span>
                    {% endif %}
                </span>
            {% endif %}   
        </div>
        {% if user.is_authenticated and listing.is_active %}
        <form method='post' action="{% url 'add_bid' listing.id %}">
            {% csrf_token %}
            <input class='field' type="number" step="0.01" min="{{listing.current_bid}}" name="bid">
            <input class='add' type="submit" value="add bid">
        </form>
        {% endif %}
        Number of bids: {{listing.number_of_bids}}
        <h2>Details</h2>
        <div class="details">
            {% if listing.user == current_user %}
                listed by: <span style="color:#4d90fe; margin-bottom: 0;">you</span>
                {% if listing.is_active %}
                    <form style="display:inline-block;" method='POST' action="{% url 'close_listing' listing.id %}">
                        {% csrf_token %}
                        <input id="close" type=submit value="close auction">
                    </form>
                {% endif %}
                <br>
            {% else %}
                listed by: <span style="color:#4d90fe; margin-bottom: 0;">{{listing.user}}</span>
                <br>
            {% endif %}
            category: <span style="color:#4d90fe; margin-bottom: 0;">{{listing.category}}</span>
        </div>
        {% if user.is_authenticated and listing.is_active %}
        <br>
        <form method='post' action="{% url 'add_comment' listing.id %}" id="commentForm">
            {% csrf_token %}
            <textarea name="comment" form="commentForm"></textarea>
            <input class="add" type='submit' value='add comment'>
        </form>
        {% endif %}
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li class="comment">{{comment}}</li>
                {% empty %}
                <li>No comments available</li>
            {% endfor %}
        </ul>
    </div>   
{% endblock %}